$dev-point-primary: #97bf0f;
$dev-point-success: #597207;
$dev-point-warning: #ffb400;
$dev-point-dark: #333335;
$primary: $dev-point-primary;
$success: $dev-point-success;
$warning: $dev-point-warning;

@import 'bulma';

.edit-profile-image-wrapper {
  margin: auto;
  width: 250px;
  height: 250px;
}

.profile-image {
  width: 100%;
  border: 2px solid #597207;
  border-radius: 4px;
}

.carousel-image {
  width: 230px;
}

.bg-code {
  background: url('./img/code.png') no-repeat center;
  background-size: cover;
  object-fit: cover;
  min-height: 100vh;
}

.bd-filter {
  backdrop-filter: hue-rotate(-40deg) opacity(0.6) blur(20px) invert(0.2);
}

.vh-100 {
  min-height: 100vh;
}

.my-7 {
  margin: 10rem 0;
}

.mx-7 {
  margin-right: 5rem;
  margin-left: 5rem;
}

.box-primary {
  border: 0.5px solid $primary;
  padding: 1rem;
  margin: 1rem;
  border-radius: 4px;
  box-shadow: 4px 4px 10px -5px $primary;
}

.border-warning {
  border: 0.5px solid $warning;
  border-radius: 4px;
}

.capitalize {
  text-transform: capitalize;
}
