@tailwind base;
@tailwind components;
@tailwind utilities;


.edit-profile-image-wrapper {
  margin: auto;
  width: 250px;
  height: 250px;
}

body {
  @apply bg-gray-100
}

.btn {
  @apply px-4 py-2 rounded filter brightness-100 hover:brightness-125;
}

.btn-primary {
  @apply text-gray-100 bg-primary-700;
}

.btn-secondary {
  @apply text-primary-700 bg-gray-300;
}

.btn-success {
  @apply text-gray-100 bg-primary-700;
}

.btn-danger {
  @apply text-gray-100 bg-red-500;
}

.btn-lg {
  @apply text-2xl;
}

.field {
  @apply my-6
}

.label {
  @apply text-primary-800 font-semibold
}

.control {
  @apply relative my-2
}

.input {
  @apply py-1 pl-10 pr-2 bg-gray-100 border border-primary-500 rounded focus:outline-none focus:ring-1 focus:ring-primary-500 text-primary-800 placeholder-primary-200
}

.icon {
  @apply absolute left-2 top-1 text-primary-200
}

.profile-image {
  width: 100%;
  border: 2px solid #597207;
  border-radius: 4px;
}

.carousel-image {
  width: 230px;
}

.bg-code {
  background: url('./img/code.png') no-repeat center;
  background-size: cover;
  object-fit: cover;
  min-height: 100vh;
}

.bd-filter {
  backdrop-filter: hue-rotate(-40deg) opacity(0.6) blur(20px) invert(0.2);
}

.vh-100 {
  min-height: 100vh;
}

.my-7 {
  margin: 10rem 0;
}

.mx-7 {
  margin-right: 5rem;
  margin-left: 5rem;
}

.box-primary {
  border: 0.5px solid var(--primary);
  padding: 1rem;
  margin: 1rem;
  border-radius: 4px;
  box-shadow: 4px 4px 10px -5px var(--primary);
}

.border-warning {
  border: 0.5px solid var(--warning);
  border-radius: 4px;
}

.capitalize {
  text-transform: capitalize;
}
